<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">

	<listeners>
		<listener class-name="com.Shell.qa.Utility.TestNGListeners" />
		<listener class-name="com.Shell.qa.Utility.ExtentReportListener" />
		<listener class-name="com.Shell.qa.Utility.RetryTransformer" />
	</listeners>
	
	<test name="TC01_LoginPageTest_Chrome" allow-return-values="true">
		<classes>
			<parameter name="browser" value="Chrome"/>
			<class name="com.Shell.qa.TestCases.TC01_LoginPageTest" />
		</classes>
	</test>
	
	<test name="TC01_LoginPageTest_Mozilla" allow-return-values="true">
		<classes>
			<parameter name="browser" value="Mozilla"/>
			<class name="com.Shell.qa.TestCases.TC01_LoginPageTest" />
		</classes>
	</test>
	
	<test name="TC02_HomePageTest_Chrome" allow-return-values="true">
		<classes>
			<parameter name="browser" value="Chrome"/>
			<class name="com.Shell.qa.TestCases.TC02_HomePageTest" />
		</classes>
	</test>
	
	<test name="TC02_HomePageTest_Mozilla" allow-return-values="true">
		<classes>
			<parameter name="browser" value="Mozilla"/>
			<class name="com.Shell.qa.TestCases.TC02_HomePageTest" />
		</classes>
	</test>
	
</suite>